#presentation {

h1 {
  font-family: "Open Sans";
  color: black;
  font-weight:100;
   font-size: 35px;
}
 p {
    font-family: "Open Sans";
    color: black;
    text-align:justify;
    line-height: 25px;
    font-size: 13px;
  }


}