.article {

  span {
    font-family: "Open Sans";
    opacity:0.5;
    letter-spacing:1px;
    font-size:13px;

  }

  h1 {
  font-family: "Open Sans";
  color: black;
  font-weight: 100;
  font-size: 35px;
}

}

.text {

  font-family: "Open Sans";
  color: black;
  text-align: justify;
  line-height: 25px;
  font-size: 13px;
}

.article-img {
  width: 100%;
  height: 390px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.infos {

  p {

  font-family: "Open Sans";
  color: black;
  text-align: justify;
  line-height: 25px;
  font-size: 13px;
  font-style:italic;

  }

}

#map {
  margin-bottom: 20px;
  border: 2px solid #d5d5d5 !important;
}