#contact {

.btn-default {
background-color: #ff918e;
color: white;
border-radius:0%;
border: 1px solid #ff918e;
font-family: "Open Sans";
font-weight:500;
font-size:13px;
}

label {
font-family: "Open Sans";
font-weight:400;
color: #666666;
font-size:13px;
}

textarea {
   resize: none;
   border-radius:4px;
   width:100%;
   border: 1px solid #ccc;
   margin-bottom: 10px;
}

.input .string {
  width:100%;
}

input {
  border-radius:4px;
  border: 1px solid #ccc
}

input, button, textarea {
outline: none;
box-shadow:none !important;

&:focus {
  border: 1px solid #ccc !important;
  outline: none;
  box-shadow:none !important;
}
}

}

label {
  margin-top:10px;
  margin-bottom:10px;
}