
.carousel {
  margin-top:30px;

}
.white-box {
  background-color: white;
  height: 323px;
  width:100%;
  box-shadow: 6px 6px 15px #E9E9EA;
  overflow: hidden;
  margin-bottom: 25px;
}

.container-pola {
  height: 258px;
  width: 100%;
  overflow: hidden;
  }

#pola {
  position: relative;
  top:0;
  left:0;
  height: 258px;
  width: 100%;
 }

.owl-carousel .owl-controls {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
 }

.owl-carousel .owl-controls .owl-dots .owl-dot {

  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  border-radius: 20px;
  background: #fd928c;

  &:hover {
    opacity:1;
  }

  }

  .owl-carousel .owl-stage-outer {
  padding-bottom: 10px;
  }

.zoom {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
}

.dezoom {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transition: all 0.6s ease-in;
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
}

.restaurant {

  font-family: "Open Sans";
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0px;
  font-size: 12px;
  color: black;
  text-align: center;
  padding-top: 25px;

}

.city {

  font-family: "Yesteryear";
  font-style: italic;
  letter-spacing: 0px;
  line-height: 17px;
  font-size: 18px;
  color: black;
  text-align: center;
  padding-top: 5px;

}


.posts-title {
  text-align:center;
  margin-top: 8px;
  margin-bottom: 26px;
}


.picture-post {
  max-width: 100%;
  height: auto;
  display: block;
}

.content {

  p {
    text-align: justify;
    font-family: "Open Sans";
    font-size: 13px;
  }

  h4 {
    text-transform: capitalize;
    font-family: "Open Sans";
    letter-spacing: 2px;
    line-height: 11px;
    font-size: 11px;
    font-weight: 200;
    color:black;

    &:hover {
  color: #fd928c;
  text-decoration:none;

  }

  }

  a:hover {
    text-decoration: none;
  }

}

.post {

  .col-sm-6 {
    height:415px;
  }

}

.date {
  font-size: 12px;
  color: #999;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 20px;
}

.pagination {
  clear:both;
  float: right;
  position: relative;
  padding-left: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 26px;
  margin-bottom: 60px;

  a {
    font-family: "Open Sans";
    text-decoration: none;
    color: #58595b;
    background-color: #fff;
    border: 1px solid #58595b;
    padding: 6px 9px 6px 9px;
    margin: 3px;
    }

  .current {
    font-family: "Open Sans";
    color: #fd928c;
    background-color: white;
    border: 1px solid #58595b;
    font-weight: bold;
    padding: 6px 9px 6px 9px;
    margin: 3px;
    font-style: normal;
  }

  .disabled {
    display:none;
  }
  }





