<div class="col-xs-12 col-md-8">
  <h3 class="text-center"><%= t('.results')%> <%= @search %></h3>
  <% if @articles.empty? %>
    <div class="row">
    <div class="col-xs-12">
    <div class="empty">
      <hr>
      <p><%= t('.empty')%></p>
    </div>
    </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <% @articles.each do |article| %>
        <div class="search">
          <%= link_to restaurant_article_path(article.restaurant.id, article) do %>
            <h4 class="text-center"><%= article.restaurant.name %>, <%= article.restaurant.city %></h4>
          <% end %>
          <hr>
          <%= image_tag article.restaurant.picture, class: "picture-search" %>
          <p><%= t('.description', french: article.description, english: article.description_en).split[0..60].join(" ") %>...</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
