<div class="col-xs-12 col-md-8">
      <div id="presentation">
        <h1 class="text-center">A propos des Food Globeuses</h1>
        <hr>
        <p>
        A l’heure où le culinaire afflue dans la blogosphère, c’est avec une impression de déjà vu que tu as du atterrir ici. Mais pas si vite copain, on change un peu la donne en internationalisant la chanson. <i>Traduction</i> : avides de voyages, nous avons parcouru une partie du monde afin de vous dénicher des bonnes adresses, parce que les « 8389 restaurants » répertoriés sur Trip Advisor, ça oblige quand même à faire des choix complexes et tumultueux.
        <br>
        <br>

       On te <strong>simplifie</strong> la tâche en en choisissant une dizaine par ville. Nos mots d’ordre :
       <br>
       - <strong>Une ambiance</strong> -un cadre agréable, trendy, bobo mais pas trop.
       <br>
       - <strong>Une qualité des mets</strong> -on s’adapte à notre temps en proposant aussi du vegan sans pour autant entamer une guerre contre les OGM.
       <br>
       - <strong>Des cibles atypiques</strong> -si tu cherches Katz Delicatessen à New York, achète le guide du routard, il se chargera de te conduire là où tu veux aller.

        <br>
        <br>

        <strong>Les Food Globeuses ?</strong> Toutes deux juristes de formation.

        <br>
        <br>

        <i><strong>Margot, La Photographe.</i></strong> Elle a posé ses valises à Los Angeles où elle exerce comme event coordinator et est une inconditionnelle du <i>« pomme, carotte, gingembre »</i>  mais surtout une dénicheuse hors pair.

        <br>
        <br>

        <i><strong>Laura, La Plume.</strong></i> Après être passée par Montréal et New York, elle est redevenue parisienne où elle est élève avocate et inconditionnelle du <i>« thé vert aux perles de tapioca »</i>.

        <br>
        <br>

        Véritables <i>« foodies »</i>, le projet nait d’une envie commune de livrer nos <i>« tips »</i> à travers le monde. Vous donc trouverez ici, nous l’espérons, de quoi gérer quelques diners avec un bon pinard et des bons copains qu’on vous laisse le soin de trouver.

        <br>
        <br>

        <i>Bonne visite et à très vite,</i>

        <br>
        <br>

        <i>M&L</i>

        <br>
        <br>

        </p>
      </div>
    </div>

