
#footer-social {
  border-top: 1px solid #57585b;
  padding: 30px 0px 20px;
  text-align:center;
  clear:both;
  width:100%;

  a {
  margin: 0px 6px;
  text-decoration:none;
  }

p {

  font-size: 10px;
  font-family: 'news_gothic_mtregular';
  line-height: 10px;
  text-transform: uppercase;
  color: black;
  }

}

 #img-size-footer {
  width: 20px;
  height: 20px;
}




