.side-bar {
  float: right;

  p {
    text-align:justify;
    font-family: $my-font;
    font-size: 12px;
  }
}

.widget-title {
  background: #f2f2f2;
  color: #666666;
  text-transform: uppercase;
  padding: 12px 14px;
}

.img-about {
  width: 173px;
  height:173px;
  border-radius: 100%;
  display: block;
  margin: 20px auto;
}

.link {
  font-family: "Open Sans";
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 48px;
  font-size: 11px;
  color: black;
  text-transform: uppercase;

  &:hover {
  color: #fd928c;
  text-decoration:none; }

}

.social-sidebar {
  text-align: center;
}
.social-sidebar-img {
  width: 52px;
  height: 52px;
  margin-right: -11px;
  margin-bottom: -10px;
}


.img-instagram {
width: 78.6563px;
height: 78.6563px;
}

.instagram {
  text-align: center;

  li {
    margin-bottom: 5px;
    margin-right: -11px;

  }

}

#search {

  .wrapper {
  text-align: center;
  display: block;
  margin-left: 31px;
  }

  input {
    width: 80%;
    border-radius: 0px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none !important;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;

  &:focus {
    border: 1px solid #ccc !important;
    outline: none;
    box-shadow:none !important;
    }
  }

  button {
    background:transparent;
    border:none;
    position:relative;
    left:-30px;
    top: 2px;

  &:focus {
    background:transparent;
    border:none;
    outline: none;
    box-shadow:none !important;
    }
  }
}







